<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<br>
<br>

<div>
  <engineering-blog-tss-icon-button [active]="false"></engineering-blog-tss-icon-button>
  <engineering-blog-tss-icon-button [active]="true"></engineering-blog-tss-icon-button>
  
  <engineering-blog-tss-icon-button [active]="false" [disabled]="true"></engineering-blog-tss-icon-button>
  <engineering-blog-tss-icon-button [active]="true" [disabled]="true"></engineering-blog-tss-icon-button>
</div>

<div>
  <engineering-blog-tss-icon-button-css [active]="false"></engineering-blog-tss-icon-button-css>
  <engineering-blog-tss-icon-button-css [active]="true"></engineering-blog-tss-icon-button-css>
  
  <engineering-blog-tss-icon-button-css [active]="false" [disabled]="true"></engineering-blog-tss-icon-button-css>
  <engineering-blog-tss-icon-button-css [active]="true" [disabled]="true"></engineering-blog-tss-icon-button-css>
</div>